.about {
    width: 100%;
    display: flex;
    min-height: 95vh;
    align-items: stretch;

    .photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            height: 50%;
            width: auto;
        }
    }

    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            padding: 0 10px;
            line-height: 1.5;
        }

        button {
            margin-top: 5%;
            padding: 10px;
            background-color: #ddd;
            border: 1px solid #ddd;
            border-radius: 5%;
            cursor: pointer;
            text-transform: uppercase;
            transition: .5s;
            outline: none;

            a {
                color: #666;
                text-decoration: none;
            }
        }

        button:hover {
            color: #fff;
            background-color: #666;
        }
    }
}