@import 'Breakpoints';

.galleriesPage {

    text-align: center;

    h1 {
        margin-top: 1%;
        text-transform: uppercase;
        color: #000;
    }

    .galleries {
        margin-top: 3%;
        padding: 0 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        a {
            text-decoration: none;
            text-transform: uppercase;
            // color: rgba(0, 0, 0, 0.5);
            margin-bottom: 3%;
            color: #000;
            transition: .3s;

            h5 {
                text-align: center;

            }

            img {
                padding: 1%;
                width: 100%;
            }
        }

        a:hover {
            opacity: .7;
        }
    }
}

@include for-tablet-portrait-up {
    .galleriesPage {
        h1 {
            margin-top: 5%;
        }

        .galleries {
            margin-top: 5%;

            a {
                margin-bottom: 5%;

                h5 {
                    padding-bottom: 3%;
                }
            }
        }
    }
}

@include for-phone-only {
    .galleriesPage {

        .galleries {
            flex-direction: column;

            a {
                margin-top: 3%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                ;

                img {
                    padding-bottom: 2%;
                }
            }

            a:nth-last-child(1) {
                border-bottom: none;
            }
        }
    }
}