@import 'Breakpoints';

.header {
    width: 75%;
    overflow: hidden;
    text-align: center;

    img {
        margin-top: 15px;
        width: 100%;
        height: auto;
    }
}

@include for-phone-only {
    .header {
        height: auto;
        margin-top: 10%;
    }
}