.homePage {
    margin: 5vh 0;
    text-align: center;

    img {
        width: 30%;
        height: auto;
        margin: 0 5px;
        box-shadow: -20px -10px 35px #888888;
    }
}

@media only screen and (max-width: 768px) {

    .homePage {
        img {
            width: 45%;
            height: auto;
            margin-bottom: 5%;
        }
    }
}