@import 'Breakpoints';

    .navigation {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        height: 15vh;
        width: 89vw;
        // margin-bottom: 3px;
        border-bottom: .3px solid rgba(0, 0, 0, 0.5);
        z-index: 1;

        .logo {
            display: flex;
            align-items: center;
            width: 40%;
            margin-left: 7vw;
            overflow: hidden;

            img {
                width: auto;
                height: 180%;
            }
        }

        nav {
            flex-grow: 1;
            width: 60%;


            ul {
                display: flex;
                height: 100%;
                justify-content: flex-end;
                align-items: flex-end;
                list-style-type: none;

                li {
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    justify-content: space-between;
                    // margin: 0 vw;
                    padding: 10px;


                    a {
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        transition: .3s;
                    }

                }
            }
        }
    }


@include for-phone-only {
    .navigation {
        display: none;
    }
}

@include for-tablet-portrait-up {
    .navigation {

        .logo {
            margin-left: 1%;
        }

        nav {
            flex-grow: 0;
        }
    }
}