h2 {
    text-transform: uppercase;
}

.singleGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;

    .singlePhoto {
        width: 20%;
        margin: 1% 2%;
        transition: .5s linear;

    }

    .singlePhoto:hover {
        transform: scale(1.25);
    }
}

@media only screen and (max-width: 768px) {
    .singleGallery {
        .singlePhoto {
            width: 40%;
        }
    }
}