// .allGalleries {
//     margin-top: 2%;
//     display: flex;
//     flex-direction: column;
// }

h2 {
    margin: 2% 0;
    text-transform: uppercase;
}

.singleGallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

    .singlePhoto {
        width: 27%;
        margin: 0 1%;
        overflow: hidden;

        img {
            padding: 3% 0;
            width: 85%;
            transition: .5s linear;
        }

    }

    .singlePhoto img:hover {
        transform: scale(1.25);
    }
}


// @media only screen and (max-width: 768px) {
//     .singleGallery {
//         .singlePhoto {
//             width: 40%;
//         }
//     }
// }